---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"portfolio">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
	<article class="prose prose-slate prose-invert text-white m-auto text-justify">
		{
			heroImage && (
				<picture>
					<source
						type="image/webp"
						srcset={heroImage.replace("png", "webp")}
					/>
					<source type="image/png" srcset={heroImage} />
					<img
						src={heroImage}
						alt={title}
						loading="lazy"
						class="max-h-[35vh] md:max-h-[40vh] w-auto m-auto mb-4 xl:mb-6"
					/>
				</picture>
			)
		}
		<h1 class="title">{title}</h1>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on border-b-2 border-b-white pb-2">
					Zuletzt aktualisiert am <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<slot />
	</article>
</BaseLayout>
